* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --lightWhiteGrayBg: #f3f3f3;
  --grayText: #aaa;

  --darkPrimary: rgb(25, 83, 154);
  --darkPrimaryBorder: 1px solid rgb(25, 83, 154);

  --lightPrimary: rgb(44, 124, 221);
  --lightPrimaryBorder: 1px solid rgb(44, 124, 221);

  --lightPrimaryHover: rgba(169, 196, 228, 0.455);

  --lightSecondary: rgb(30, 99, 184);
  --lightSecondaryBorder: 1px solid rgb(30, 99, 184);

  --lightGray: #ebebeb;
  --lightGrayBorder: 1px solid #ebebeb;
  --blackText: #4b4b4b;
  --redText: #fd475a;
  --orangeText: #fc521d;
}

/* Hiệu ứng hoa rơi */

.f1-effect {
  position: relative;
  z-index: 99999999;
}

.f1-effect .f1-effect-flower {
  opacity: 1;
  border-radius: 100%;
  background: url(https://file.hstatic.net/200000259653/file/pages_17a8568517e94dcd9c8aec5587_570924d1fa4b4da1aa011044c9d7cc1c.png);
  position: fixed;
  top: -10%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
  -webkit-animation-name: snowflakes-fall, snowflakes-shake;
  -webkit-animation-duration: 10s, 3s;
  -webkit-animation-timing-function: linear, ease-in-out;
  -webkit-animation-iteration-count: infinite, infinite;
  -webkit-animation-play-state: running, running;
  animation-name: snowflakes-fall, snowflakes-shake;
  animation-duration: 10s, 3s;
  animation-timing-function: linear, ease-in-out;
  animation-iteration-count: infinite, infinite;
  animation-play-state: running, running;
}

@media (max-width: 767px) {
  .f1-effect .f1-effect-flower:nth-of-type(2n) {
    display: none;
  }
}

.f1-effect .f1-effect-flower:nth-of-type(0) {
  left: 5%;
  -webkit-animation-delay: 1s, 1s;
  animation-delay: 1s, 1s;
  width: 16px;
  height: 16px;
  background-position: 0 -23px;
}

.f1-effect .f1-effect-flower:nth-of-type(1) {
  left: 10%;
  -webkit-animation-delay: 6s, 0.5s;
  animation-delay: 6s, 0.5s;
  width: 13px;
  height: 13px;
  background-position: 0 -50px;
}

.f1-effect .f1-effect-flower:nth-of-type(2) {
  left: 20%;
  -webkit-animation-delay: 4s, 2s;
  animation-delay: 4s, 2s;
  width: 15px;
  height: 15px;
  background-position: -49px -35px;
}

.f1-effect .f1-effect-flower:nth-of-type(3) {
  left: 30%;
  -webkit-animation-delay: 2s, 2s;
  animation-delay: 2s, 2s;
  width: 14px;
  height: 14px;
  background-position: -31px 0;
}

.f1-effect .f1-effect-flower:nth-of-type(4) {
  left: 40%;
  -webkit-animation-delay: 8s, 3s;
  animation-delay: 8s, 3s;
  width: 16px;
  height: 16px;
  background-position: 0 -23px;
}

.f1-effect .f1-effect-flower:nth-of-type(5) {
  left: 50%;
  -webkit-animation-delay: 6s, 2s;
  animation-delay: 6s, 2s;
  width: 13px;
  height: 13px;
  background-position: 0 -50px;
}

.f1-effect .f1-effect-flower:nth-of-type(6) {
  left: 60%;
  -webkit-animation-delay: 2.5s, 1s;
  animation-delay: 2.5s, 1s;
  width: 15px;
  height: 15px;
  background-position: -49px -35px;
}

.f1-effect .f1-effect-flower:nth-of-type(7) {
  left: 70%;
  -webkit-animation-delay: 1s, 0s;
  animation-delay: 1s, 0s;
  width: 14px;
  height: 14px;
  background-position: -31px 0;
}

.f1-effect .f1-effect-flower:nth-of-type(8) {
  left: 80%;
  -webkit-animation-delay: 2s, 2s;
  animation-delay: 2s, 2s;
  width: 14px;
  height: 14px;
  background-position: -31px 0;
}

.f1-effect .f1-effect-flower:nth-of-type(9) {
  left: 90%;
  -webkit-animation-delay: 8s, 3s;
  animation-delay: 8s, 3s;
  width: 16px;
  height: 16px;
  background-position: 0 -23px;
}

.f1-effect .f1-effect-flower:nth-of-type(10) {
  left: 95%;
  -webkit-animation-delay: 6s, 2s;
  animation-delay: 6s, 2s;
  width: 13px;
  height: 13px;
  background-position: 0 -50px;
}

@-webkit-keyframes snowflakes-fall {
  0% {
    top: -10%;
  }

  100% {
    top: 100%;
  }
}

@-webkit-keyframes snowflakes-shake {
  0% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }

  50% {
    -webkit-transform: translateX(80px);
    transform: translateX(80px);
  }

  100% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
}

@keyframes snowflakes-fall {
  0% {
    top: -10%;
  }

  100% {
    top: 100%;
  }
}

@keyframes snowflakes-shake {
  0% {
    transform: translateX(0px);
  }

  50% {
    transform: translateX(80px);
  }

  100% {
    transform: translateX(0px);
  }
}

/* end hiệu ứng hoa rơi */
html {
  font-family: -apple-system, BlinkMacSystemFont, "Inter", sans-serif;
  font-size: 1em;
}

body {
  background-image: url(assets/images/template-nen.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  backdrop-filter: inherit;
  background-attachment: fixed;
  height: 100vh;
}

a {
  text-decoration: none;
}

/* common */
.w-container {
  width: 1200px;
  min-width: 1200px;
  margin: 0 auto;
}

.container {
  border-radius: 10px;
  background: #fff;
  padding: 12px;
  margin-bottom: 12px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

/* end common */

/* Header */
header {
  background: #f4f4f4;
  z-index: 9;
  margin: auto;
  position: fixed;
  padding-bottom: 12px;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  transition: transform 0.3s ease;
}

/* Khi có class hidden thì ẩn header */
header.hidden {
  transform: translateY(-100%);
}

header .top-heading {
  margin-bottom: 10px;
}

header .top-heading .slick-prev {
  left: calc((100% - 1200px) / 2);
  opacity: 1;
  z-index: 999;
  position: absolute;
  background: transparent;
  box-shadow: none;
}

header .top-heading .slick-prev:before,
header .top-heading .slick-next:before {
  color: var(--darkPrimary);
}

header .top-heading .slick-next {
  right: calc((100% - 1200px) / 2);
  opacity: 1;
  z-index: 999;
  position: absolute;
  background: transparent;
  box-shadow: none;
}

header .top-heading .deal-header.header-top-sales {
  background: #ffdade;
  color: #fd475a;
}

header .top-heading .deal-header div,
header .top-heading .deal-header a {
  padding: 0 12px;
  font-size: 15px;
  display: flex;
  align-items: center;
  line-height: 40px;
}

header .top-heading .deal-header {
  background: var(--lightPrimaryHover);
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  justify-items: center;
}

header .top-heading .deal-header ion-icon {
  font-size: 23px;
  margin-right: 10px;
  line-height: 40px;
}

header .top-heading .deal-header span {
  font-weight: 600;
}

header .top-heading .header-top-intro {
  background: var(--lightPrimaryHover);
  color: var(--lightPrimary);
  display: flex !important;
}

header .header-top-intro a {
  color: var(--lightPrimary);
}

header .logo-search-user {
  display: flex;
  align-items: center;
}

header .logo {
  width: 180px;
  margin-right: 12px;
  padding-top: 3px;
}

header .logo img {
  border: none;
  width: 100%;
}

header .search {
  flex-grow: 6;
}

header .search-box {
  margin-right: 10px;
}

header .search-box .search-bg {
  background: #fff;
  border-radius: 10px;
  border: 1px solid var(--lightGrayBorder);
  display: flex;
  /* padding: 0 0 0 5px; */
  line-height: 42px;
  position: relative;
  /* padding: 5px 10px 5px 15px; */
  /* margin: 8px 0; */
}

header .search-bg input {
  flex-grow: 5;
  border: none;
  padding: 5px 10px 5px 15px;
  margin: 8px 0;
  color: var(--blackText);
  font-size: 13px;
  outline: none;
  border-right: 1px solid var(--lightGrayBorder);
}

header .search-bg button {
  width: 104px;
  border: none;
  color: var(--lightPrimary);
  cursor: pointer;
  display: flex;
  justify-content: center;
  justify-items: center;
  background: #fff;
  border-radius: 0 10px 10px 0;
  position: absolute;
  right: 0;
}

header .search-bg button:hover {
  background: var(--lightPrimaryHover);
}

header .search-bg button::before {
  content: "";
  position: absolute;
  left: 0;
  top: 10%;
  height: 80%;
  width: 1px;
  background-color: var(--lightGray);
}

header .search-bg button ion-icon {
  font-size: 16px;
  margin-right: 5px;
  margin-top: -1px;
}

header .search-bg button * {
  line-height: 40px;
  height: 40px;
}

header .quick-for-user {
  /* flex-grow: 1; */
  display: flex;
  gap: 5px;
  justify-content: flex-end;
}

header .music-player {
  width: 140px;
}



header .music-player,
header .user {
  display: flex;
  padding: 8px 10px;
  border-radius: 10px;
  color: var(--lightPrimary);
  border: none;
  align-items: center;
  gap: 8px;
  justify-content: center;
}

header .music-player:hover,
header .user:hover,
header .music-player.active {
  background: var(--lightPrimaryHover);
}

header .quick-for-user .text-link ion-icon {
  font-size: 16px;
}

header a.cart {
  display: flex;
  color: var(--blackText);
  gap: 5px;
  padding: 0px 5px;
}

header a.cart ion-icon {
  font-size: 24px !important;
  display: block;
  padding: 6px 0 0 0;
}

header a.cart:hover ion-icon {
  color: var(--lightPrimary);
}

header .cart-counter {
  background: var(--redText);
  border-radius: 20px;
  width: 24px;
  height: 24px;
  color: #fff;
  margin-top: 6px;
  line-height: 24px;
  text-align: center;
  font-size: 11px;
}
/* End Header */

main {
  display: flex;
  padding-top: 130px;
}

/* aside nav */
.nav-full {
  height: calc(100vh - 12px);
  overflow-y: auto;
  width: 230px;
  margin-right: 12px;
  /* background: #fff; */
  border-radius: 10px;
  padding: 0 0px 12px 0;
  position: sticky;
  top: 12px;
  -ms-overflow-style: none;
  scrollbar-width: none;
  display: flex;
  flex-direction: column;
  gap: 12px;
  transition: top 0.3s ease;
}

/* trường hợp kéo xuống rồi kéo lên phải đẩy nav xuống để header không che mất */
.nav-full.moveDown {
  top: 130px;
}

.nav-full nav {
  background: #fff;
  border-radius: 10px;
  padding: 12px 0;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.nav-full nav h2 {
  font-size: 15px;
  padding: 0px 20px 12px 20px;
  margin: 0;
}

.nav-full nav ul {
  list-style: none;
  padding: 0;
  margin: 0 12px;
}

.nav-full nav ul li > a {
  display: flex;
  padding: 8px 12px 8px 12px;
  align-items: center;
  border-radius: 5px;
}

.nav-full nav ul li > a:hover {
  background: var(--lightGray);
}

.nav-full nav ul li > a label {
  width: 30px;
  height: 34px;
  margin-right: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.nav-full nav ul li > a span {
  padding: 6px 0;
  font-size: 13px;
  font-weight: 600;
  color: var(--blackText);
}

/* End aside nav */

/* article right-content */
.right-content {
  width: 958px;
}

/* main slider */
.top-slider {
  background: #fff;
  border-radius: 10px;
  margin-bottom: 6px;
}

.top-slider img {
  width: 100%;
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.top-slider:hover .slick-arrow,
.ref-product-slick:hover .slick-arrow,
.flashsale-slick1:hover .slick-arrow {
  opacity: 1;
}
.top-slider .slick-arrow,
.ref-product-slick .slick-arrow,
.flashsale-slick1 .slick-arrow {
  opacity: 0;
  transition: opacity 0.3s ease;
}
.slick-product-prev {
  left: 12px;
}
.slick-product-next {
  right: 12px;
}
.slick-product-prev,
.slick-product-next {
  width: 32px;
  height: 32px;
  background-color: #fff;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  opacity: 0.5;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  font-weight: 600;
  color: var(--lightPrimary);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
}

.top-slider .slick-dots {
  bottom: -20px;
  margin-top: 0px;
  overflow: hidden;
  left: 0;
  display: flex;
  justify-content: center;
}

.slick-dots li {
  margin: 0 5px;
  list-style: none;
  width: auto;
  height: auto;
}

.slick-dots li button {
  width: 30px;
  height: 2px;
  border: none;
  background-color: var(--lightPrimaryHover);
  border-radius: 0;
  width: 40px;
  height: 5px;
  gap: 0;
  border-radius: 10px;
  padding: 0;
}

.slick-dots li.slick-active button {
  background-color: var(--lightPrimary);
}
/* End main slider */

/* product */
.product .title {
  font-size: 15px;
  font-weight: 600;
}

.v5-list {
  display: flex;
  margin: 12px 0;
  font-family: var(--fontFamily);
  font-optical-sizing: auto;
}

.v5-list .v5-list-items {
  flex-grow: 3;
}

.v5-list .v5-list-container {
  display: flex;
  align-items: flex-start;
  align-content: flex-start;
}

.v5-list .v5-grid-items {
  display: grid;
  grid-gap: 12px;
  margin-bottom: 15px;
}

.v5-list .v5-list-items .v5-item {
  background: #fff;
  border-radius: 6px;
  padding: 12px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  justify-items: start;
  border: 1px solid #ededed;
}

.v5-list .v5-list-items .v5-item {
  position: relative;
}

.v5-item video {
  border-radius: 5px;
}

/* Product Item */
/* Sale */
.sale-sticker {
  top: 6px;
  position: absolute;
  background: url(/Content/web/img/sticker-sale.png);
  color: #fff;
  font-size: 13px;
  left: -5px;
  height: 35px;
  width: 90px;
  display: flex;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
}
.sale-sticker span {
  margin-top: 7px;
}
/* End sale */

.left-sticker {
  position: absolute;
  width: 85px;
  top: 6px;
  right: 12px;
  font-size: 11px;
  background: #fff;
  border-radius: 5px;
  padding: 5px;
  border: 1px solid var(--lightPrimary);
  color: var(--lightPrimary);
  text-align: center;
}

/* Image */
.v5-list .v5-list-items .v5-item a.img {
  display: block;
  margin: 0 auto;
}
.v5-list .v5-list-items .v5-item a.img img {
  max-width: 100%;
}
/* End Image */

/* Name */
.v5-list .v5-list-items .v5-item h3 {
  padding: 0;
  margin: 12px 0 12px 0;
  font-size: 15px;
  flex-grow: 5;
  text-align: center;
}
.v5-list .v5-list-items .v5-item h3 a {
  color: var(--blackText);
  font-size: 15px;
  font-weight: 600;
}
/* End Name */

/* Price */
.v5-list .v5-list-items .v5-item .price {
  margin-bottom: 12px;
  font-size: 15px;
  display: flex;
  justify-content: center;
  justify-items: stretch;
}
.v5-list .v5-list-items .v5-item .price strong {
  color: var(--redText);
  line-height: 18px;
  padding-right: 10px;
  font-size: 15px;
}
.v5-list .v5-list-items .v5-item .price strike {
  font-size: 11px;
  line-height: 18px;
  color: #c9c9c9;
  font-size: 15px;
}
/* End price */

/* promotion */
.v5-item .promotion-list {
  display: flex;
  flex-direction: column;
}

.v5-item .promotion-list > div {
  display: flex;
  height: 24px;
  overflow: hidden;
  margin-bottom: 8px;
}
.v5-item .promotion-list > div label {
  background: #ffdfd4;
  padding: 2px 6px;
  color: #fc521d;
  border-radius: 3px;
  font-weight: 800;
  margin-right: 5px;
  font-size: 11px;
  line-height: 19px;
}
.v5-item .promotion-list > div span {
  line-height: 24px;
  font-size: 13px;
}
.v5-item .promotion-list > div.more {
  text-align: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 600;
  color: #fc521d;
  margin-bottom: 0;
}
/* End promotion */
/* End product item */
/* End product */

/* End article right-content */


/* Footer */
footer {
  font-size: 12px;
  margin-bottom: 12px;
}
footer .bg {
  background: var(--darkPrimary);
  border-radius: 10px;
  padding: 20px;
  color: #fff;
  width: 957px;
  float: right;
  margin-bottom: 12px;
}
footer .bg .col-content {
  display: flex
;
  gap: 20px;
}

footer .bg .col-content > div {
  flex-direction: column;
  width: 16.6666%;
  padding-left: 10px;
}
footer .bg .col-content h4 {
  font-size: 15px;
  margin: 10px 0 6px 0;
}
footer .bg .col-content > div {
  width: 25%;
}
footer .bg a, footer .bg a:link, footer .bg a:visited {
  color: #ddd;
}

footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

footer .bg ul li {
  margin-bottom: 8px;
}

footer .bg ul.list-logo li img {
  margin-right: 3px;
}

footer .bg .hotline {
  display: inline-block;
  padding: 6px 10px;
  background: #fff;
  border-radius: 4px;
  margin-bottom: 10px !important;
}

footer .bg a.hotline, footer .bg a.hotline:link, footer .bg a.hotline:visited {
  color: var(--darkPrimary);
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 3px;
}
footer .bg a.hotline:hover {
  color: white;
  background-color: var(--darkPrimary);
}


footer .bg .footer-social-item img {
  width: 30px;
  height: 30px;
}

footer .info {
  padding-top: 27px;
  text-align: center;
}

footer .info p {
  margin: 0 0 5px 0;
  font-size: 9pt;
}
/* End footer */
